// Fuentes
$fuente: 'Josefin', Arial, Helvetica, sans-serif;

// Media Queries
$movil: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$blanco: #ffffff;
$negro: #333333;
$gris: #bdbdbd;
$rojo: #c20000;
$azul: #0da6f3;
$naranja: #e64a19;

$espaciado: 5rem;
